interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://ubbooked01.ub.uzh.ch/ub/Web/index.php
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"de\" dir=\"ltr\">\n<head>\n        <title>Booked-UB
        - Anmelden</title>\n    <meta charset=\"UTF-8\"/>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\">\n    <meta name=\"robots\"
        content=\"noindex\"/>\n        <link rel=\"shortcut icon\" href=\"favicon.png\"/>\n
        \   <link rel=\"icon\" href=\"favicon.png\"/>\n\n    <link rel='stylesheet'
        type='text/css' href='css/fonts/nunito+sans.css?v=3.9.5'/>\n\n                        <script
        nonce=\"76eb91c62c\" src=\"https://code.jquery.com/jquery-3.7.1.min.js\"\n
        \                   integrity=\"sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=\"
        crossorigin=\"anonymous\"></script>\n                        <script nonce=\"76eb91c62c\"\n
        \               src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js\"\n
        \               integrity=\"sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL\"\n
        \               crossorigin=\"anonymous\"></script>\n    \n    <script nonce=\"76eb91c62c\"
        src=\"https://cdn.bookedscheduler.com/3.9.5/scripts/js/popper-2.11.6.min.js?v=3.9.5\"></script>\n
        \   <script nonce=\"76eb91c62c\" src=\"h[...]
- request:
    body: captcha=&login=submit&resume=&language=en_us
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ubbooked01.ub.uzh.ch/ub/Web/index.php
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - schedule.php
    status:
      code: 302
      message: Found
- request:
    body: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://ubbooked01.ub.uzh.ch/ub/Web/schedule.php
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://ubbooked01.ub.uzh.ch/ub/Web/auth/confirm-account.php?redirect=%2Fub%2FWeb%2Fschedule.php
    status:
      code: 302
      message: Found
- request:
    body: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://ubbooked01.ub.uzh.ch/ub/Web/auth/confirm-account.php?redirect=%2Fub%2FWeb%2Fschedule.php
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"de\" dir=\"ltr\">\n<head>\n        <title>Booked-UB
        - Sicherheits\xFCberpr\xFCfung</title>\n    <meta charset=\"UTF-8\"/>\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1[...]
- request:
    body: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ubbooked01.ub.uzh.ch/ub/Web/auth/confirm-account.php?action=Confirm
  response:
    body:
      string: '{"resumeUrl":"schedule.php","success":true}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://ubbooked01.ub.uzh.ch/ub/Web/
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - schedule.php
    status:
      code: 302
      message: Found
[...]
- request:
    body: "--01f7db08c17a33f24aaba0f9ba606041\r\nContent-Disposition: form-data; name=\"request\"\r\nContent-Type:
      application/json\r\n\r\n{\"reservation\": {\"referenceNumber\": null, \"ownerId\":
      1843, \"resourceIds\": [\"231\"], \"accessories\": [], \"title\": \"\", \"description\":
      \"\", \"start\": \"2025-06-22T18:00:00.000Z\", \"end\": \"2025-06-22T18:30:00.000Z\",
      \"recurrence\": {\"type\": \"none\", \"interval\": 1, \"weekdays\": null, \"monthlyType\":
      null, \"weekOfMonth\": null, \"terminationDate\": null, \"repeatDates\": []},
      \"startReminder\": null, \"endReminder\": null, \"inviteeIds\": [], \"coOwnerIds\":
      [], \"participantIds\": [], \"guestEmails\": [], \"participantEmails\": [],
      \"allowSelfJoin\": false, \"attachments\": [], \"requiresApproval\": false,
      \"checkinDate\": null, \"checkoutDate\": null, \"termsAcceptedDate\": \"2025-06-15T19:23:14.906Z\",
      \"attributeValues\": [{\"id\": \"1\", \"value\": \"WWF\"}], \"meetingLink\":
      null, \"displayColor\": null}, \"retryParameters\": [], \"updateScope\": \"full\"}\r\n--01f7db08c17a33f24aaba0f9ba606041\r\nContent-Disposition:
      form-data; name=\"CSRF_TOKEN\"\r\n\r\nCSRF_TOKEN_HIDDEN_LOL=\r\n--01f7db08c17a33f24aaba0f9ba606041\r\nContent-Disposition:
      form-data; name=\"BROWSER_TIMEZONE\"\r\n\r\nEurope/Zurich\r\n--01f7db08c17a33f24aaba0f9ba606041--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=01f7db08c17a33f24aaba0f9ba606041
      x-csrf-token:
      - CSRF_TOKEN_HIDDEN_LOL=
    method: POST
    uri: https://ubbooked01.ub.uzh.ch/ub/Web/api/reservation.php?action=create
  response:
    body:
      string: '{"success":true,"data":{"referenceNumber":"37206E84","success":true,"canBeRetried":false,"canJoinWaitlist":false,"errors":[],"warnings":[],"retryMessages":[],"retryParameters":[],"requiresApproval":false,"showDetails":false,"dates":[],"payment":{"stripe":{},"paypal":null}},"error":null}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
