interactions:
- request:
    body: "--b5647994c249056d80b46d16138ec8ed\r\nContent-Disposition: form-data; name=\"request\"\r\nContent-Type:
      application/json\r\n\r\n{\"reservation\": {\"referenceNumber\": null, \"ownerId\":
      1843, \"resourceIds\": [\"231\"], \"accessories\": [], \"title\": \"\", \"description\":
      \"\", \"start\": \"2025-06-22T18:00:00.000Z\", \"end\": \"2025-06-22T18:30:00.000Z\",
      \"recurrence\": {\"type\": \"none\", \"interval\": 1, \"weekdays\": null, \"monthlyType\":
      null, \"weekOfMonth\": null, \"terminationDate\": null, \"repeatDates\": []},
      \"startReminder\": null, \"endReminder\": null, \"inviteeIds\": [], \"coOwnerIds\":
      [], \"participantIds\": [], \"guestEmails\": [], \"participantEmails\": [],
      \"allowSelfJoin\": false, \"attachments\": [], \"requiresApproval\": false,
      \"checkinDate\": null, \"checkoutDate\": null, \"termsAcceptedDate\": \"2025-06-15T19:23:15.504Z\",
      \"attributeValues\": [{\"id\": \"1\", \"value\": \"WWF\"}], \"meetingLink\":
      null, \"displayColor\": null}, \"retryParameters\": [], \"updateScope\": \"full\"}\r\n--b5647994c249056d80b46d16138ec8ed\r\nContent-Disposition:
      form-data; name=\"CSRF_TOKEN\"\r\n\r\nSOME_CSRF_TOKEN=\r\n--b5647994c249056d80b46d16138ec8ed\r\nContent-Disposition:
      form-data; name=\"BROWSER_TIMEZONE\"\r\n\r\nEurope/Zurich\r\n--b5647994c249056d80b46d16138ec8ed--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b5647994c249056d80b46d16138ec8ed
      x-csrf-token:
      - SOME_CSRF_TOKEN=
    method: POST
    uri: https://ubbooked01.ub.uzh.ch/ub/Web/api/reservation.php?action=create
  response:
    body:
      string: '{"success":true,"data":{"referenceNumber":null,"success":false,"canBeRetried":false,"canJoinWaitlist":false,"errors":["Es
        ist nur eine Reservierung zur selben Zeit m\u00f6glich.\n22\/06\/2025\n"],"warnings":[],"retryMessages":[null],"retryParameters":[],"requiresApproval":false,"showDetails":false,"dates":[],"payment":null},"error":null}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
